/* General rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body > *{
    width: 85%;
    margin: 0 auto;
}

/* /General rules */

/* Header rules */

header{
    height: 100px;
    background-color: orange;
}

nav{
    height: 30px;
    background-color: red;
}

/* /Header rules */

/* Main rules */

main > section:first-child{
    background-color: green;
    height: 450px;
}

main > section:nth-child(2){
    background-color: lime;
    height: 100px;
}

.container{
    background-color: lightseagreen;
}

div aside{
    width: 25%;
    height: 450px;
}

aside:first-child{
    background-color: pink;
    float: left;    
}

div > section{
    background-color: fuchsia;
    width: 50%;
    height: 450px;
    float: left;
}

aside:last-child{
    background-color: purple;
    float: left;
}

/* /Main rules */

/* Footer rules */

body > footer{
    background-color: lightsalmon;
    height: 60px;
}

/* /Footer rules */


