/* General rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body > *{
    width: 85%;
    margin: 0 auto;
}

/* /General rules */

/* Header rules */

header{
    height: 100px;
    background-color: purple;
}

nav{
    height: 30px;
    background-color: blue;
}

/* /Header rules */

/* Main rules */

main > section:first-child{
    background-color: green;
    height: 450px;
}

main > section:nth-child(2){
    background-color: lime;
    height: 100px;
}

/* /Main rules */