*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

header{
    height: 100px;
    background-color: purple;
    width: 85%;
    margin: 0 auto;
}

nav{
    height: 30px;
    width: 85%;
    margin: 0 auto;
    background-color: blue;
}
